$x-large: 3rem;
$large: 2.25rem;
$medium: 1.75rem;
$regular: 1.15rem;
$small: 0.75rem;

$font-color: #212529;
$accent-color: #1c77c3;
$dark-accent-color: #003f88;
$font-color-imp: #4361ee;
$success-color: #008000;
$font-accent: #343a40;
